[Desktop Entry]
Name=KHash
GenericName=Checksum calculation utility
MimeType=all/allfiles;
Exec=khash --icon '%i' --caption '%c' %U
Icon=security-high
Type=Application
Terminal=false
StartupNotify=false
X-DocPath=khash/index.html
X-KDE-StartupNotify=false
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Utility;
