[Desktop Entry]
Icon=system-software-update
Name=KUpdateNotifier
GenericName=Update notifier
Comment=A panel applet for software updates notification
Exec=kupdatenotifier --icon '%i' --caption '%c'
Terminal=false
Type=Application
Categories=Qt;KDE;System;
X-KDE-StartupNotify=false
